html,
body,
.pyg_view {
  height: 100%;
}
body {
  padding-top: 45px;
  padding-bottom: 45px;
}
img {
  width: 100%;
}
.pyg_view {
  overflow: scroll;
}
.pyg_header {
  padding: 5px;
  width: 100%;
  height: 45px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
}
.pyg_footer {
  width: 100%;
  height: 45px;
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #fff;
  border-top: 1px solid #ccc;
  display: flex;
}
.pyg_footer a {
  color: #000;
  font-size: 1px;
  text-align: center;
  padding-top: 5px ;
  flex: 1;
}
.pyg_footer a i {
  font-size: 18px;
}
.pyg_cates {
  display: flex;
}
.pyg_cates a {
  flex: 1;
  text-align: center;
}
.pyg_cates a img {
  width: 75%;
}
